<form action="/friends" method="POST">
    <p>Name:</p><input type="text" name="name" placeholder="Name">
    <p>Age:</p><input type="text" age="age" placeholder="Age">
    <input type="submit" value="New Friend!">
</form>