<div class="container">
    <form action="/friends" method="POST">
        <p>Name:</p><input type="text" name="name" placeholder="Name">
        <p>Age:</p><input type="text" name="age" placeholder="Age">
        <input type="submit" value="New Friend!">
    </form>
</div>