<div class="container">
    <form action="/conversations" method="POST">
        <p>Topic:</p><input type="text" name="topic" placeholder="Topic">
        <p>Length:</p><input type="text" name="length" placeholder="Length">
        <input type="submit" value="New Conversation!!">
    </form>
</div>