<div class="container">
  <a href='/friends'>Visit my friends list</a>
  <br/>
  <a href='/friends/new'>Add a friend</a>
  <br/>
  <a href='/friends/:id/edit'>Edit an existing friend in the list</a>
  <br/>
  <a href='/friends/:id/delete'>Remove a friend from the list</a>
  <br/>
</div>

